.Image-range {
    max-width: 100%;
    height: 500px;


}

.range-container h1 {
    text-align: center;
}

.range-container {
    height: 100vh;
    overflow: hidden;


}

.range-info {
    text-align: left;
}