.Golf-Course {
    width: 70%;
    height: 450px;
}

.golf-course-info p {
    text-align: justify;
}

.book {
    background-color: seagreen;
    color: white;
    outline-color: seagreen;

}

.book:hover {
    background-color: darkgreen;
    border-color: darkgreen;
}

.middle {
    background-color: lightcyan;
}