.feature-list {
    text-align: left;
}

.lesson-cards {
    text-align: justify;
}

.price {
    text-align: left;
    font-style: bold;
}

.features {
    text-align: left;
}

.green-heading {
    color: seagreen;
}