.tournament-card {
    border: none;
}

.tournament-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.tournament-description {
    text-align: justify;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}