.facted {
    text-align: left;
}

.title {
    font-weight: bold;
}

.input {
    padding-left: 0%;
}

.tournaments {
    padding-left: 20px;

}

.facted-search {
    padding-bottom: 50px;
}

.search-result-item {
    text-align: left;
    padding-left: 30px;

}