.facted {
    text-align: left;
}

.title {
    font-weight: bold;
}

.input {
    padding-left: 0%;
}

.tournaments {
    padding-left: 20px;

}

.search-result-item {
    text-align: left;
    padding-left: 30px;

}

.tournament-heading {
    color: seagreen;
    padding-top: 20px;
}


.back-button {
    background-color: seagreen;
}

.back-button:hover,
.back-button:focus {

    background-color: green;
    outline: none;
}