.calendar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1px;
    background-color: #333;
    border: 1px solid #333;
}

.header {
    display: contents;
}

.date-btn {
    background-color: seagreen;
}

.time-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.row-t {
    display: contents;
}

.cell {
    padding: 10px;
    background-color: #fff;
    text-align: center;
}

.day-header {
    background-color: #ccc;
    font-weight: bold;
}

.time-cell {
    background-color: #eee;
}

.booked {
    background-color: #99c2ff;
}

/* New styles for aligning buttons and time inputs */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row>.col {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row>.col>.form-group {
    margin: 0;
    width: 100%;
}