.facilities {
    padding-top: 15px;
    padding-bottom: 20px;

}

.facility-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
    padding-top: 15px;
}

.info-button {
    background-color: white;
    color: gold;
    border: none;
    /* Remove default border */
    outline: none;
    /* Remove default outline */
    text-align: left;
    text-decoration: none;
}