body {
    margin: 0;
    padding-top: 70px;
}

.Site-Name {
    font-size: 28px;
    color: white;
    font-family: 'Playfair Display', serif;
    text-decoration: none;

}

.button-link {
    color: white;
    background-color: seagreen;
    text-decoration: none;
}

.button-link:focus,
.button-link:active {
    outline: none;
    /* Remove blue outline on focus and active */
}


.nav-link:hover {
    background-color: seagreen;
    /* Added hover effect */
    color: black;

}

.Nav {
    background-color: seagreen;
    padding: 0px;
    margin: 0px;
    height: 120%;
    box-sizing: border-box;

}

.nav-link {
    color: white;
}

.fixed-top {
    background-color: seagreen;
    position: fixed;
    top: 0;
    width: 100%;
}